@import "../../../styles/variables.scss";

.navigate-footer {
	&__title {
		font-weight: 800;
		font-size: 18px;
		line-height: 17px;
		margin-bottom: 15px;
	}
	&__list {
		font-weight: 400;
		margin-bottom: 15px;
		cursor: pointer;
	}
	&__list:hover {
		text-decoration: underline;
	}
}

.navigate-footer__menu li:last-child {
	margin-bottom: 0;
}
