@import "../../styles/variables.scss";

.news-item-page {
	padding-top: 176px;
	margin-bottom: 80px;
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin: 23px 0 30px;
	}
	&__title {
		max-width: 578px;
		@extend %h2-title;
		line-height: 53px;
		text-align: left;
	}
}
