@import "../../styles/variables.scss";

.slider-reviews {
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 445px;
		min-height: 280px;
		padding: 20px 30px;
		margin: 40px 30px 52px;
		text-align: left;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	}
	&__image {
		width: 63px;
		height: 63px;
		margin-bottom: 18px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__name {
		font-weight: 600;
		font-size: 25px;
		line-height: 24px;
		margin-bottom: 18px;
	}
	&__desc {
		font-style: italic;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 18px;
	}
	&__quotes {
		position: absolute;
		top: 0;
		right: 0;
		width: 144px;
		height: 116px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.slider-reviews .swiper-pagination {
	bottom: 0px;
}
.slider-reviews .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: $main;
	border-radius: 0;
	opacity: 1;
	margin-right: 10px !important;
}
.slider-reviews .swiper-pagination-bullet-active {
	background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
}
