@import "../../styles/variables.scss";

.catalog-description {
	margin-top: 80px;
	padding-bottom: 80px;
	border-bottom: 1px solid #e6e8e7;
	&__title {
		@extend %h3-title;
		margin-bottom: 33px;
	}
	&__desc {
		font-weight: normal;
		font-size: 16px;
		line-height: 21px;
	}
	&__desc p {
		margin-bottom: 25px;
	}
	&__desc p:last-child {
		margin-bottom: 0;
	}
}
