@import "../../styles/variables.scss";

.best-selling {
	padding: 80px 0;
	background: url("../../resources/bg/grey-abstraction_bg.png") center/cover no-repeat;
	margin-bottom: 80px;
	&__title {
		@extend %h2-title;
		color: $main;
	}
}
