@import "./reset.scss";
@import "./fonts.scss";
@import "./buttons.scss";
@import "./variables.scss";

html,
body {
	font-size: 14px;
	line-height: 19px;
	font-weight: 800;
}

body {
	font-family: "Mont";
	font-style: normal;
	background: #fff;
	overflow-x: hidden;
	min-width: 20rem;
}

.app {
	width: 100%;
	margin: 0 auto;
	color: $main;
}

a {
	color: $white;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
}

// breadcrumbs
.breadcrumbs {
	&__list {
		display: flex;
		overflow-x: auto;
	}
	&__item {
		position: relative;
		padding-right: 17px;
	}
	&__item:after {
		content: "/";
		position: absolute;
		padding-left: 5px;
	}
	&__item:last-child:after {
		display: none;
	}
	&__link {
		font-weight: 600;
		font-size: 18px;
		line-height: 17px;
		color: $main;
	}
}
