@import "../../styles/variables.scss";

.our-history {
	position: relative;
	background: url("../../resources/bg/our-history_bg.jpg") center/cover no-repeat;
	padding: 72px 0 74px;
	min-height: 626px;
	color: $white;
	&__title {
		@extend %h2-title;
		line-height: 53px;
		margin-bottom: 28px;
	}
	&__columns {
		display: grid;
		grid-template-columns: repeat(2, minmax(290px, 445px));
		grid-template-rows: minmax(400px, auto);
		grid-auto-rows: minmax(400px, auto);
		justify-content: center;
		align-items: flex-start;
		grid-gap: 30px;
		&-one,
		&-two {
			font-weight: normal;
			font-size: 16px;
			line-height: 21px;
		}
		&-one p,
		&-two p {
			margin-bottom: 25px;
		}
		&-one p:last-child,
		&-two p:last-child {
			margin-bottom: 0;
		}
	}
	&__label {
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 232px;
		font-family: Lighthaus;
		font-style: normal;
		font-weight: 400;
		font-size: 155px;
		line-height: 116px;
		text-align: left;
		text-transform: uppercase;
		transform: rotate(-90deg);
	}
}
