.catalog-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	min-height: 622px;
	margin-top: 27px;
	padding-bottom: 80px;
	border-bottom: 1px solid #e6e8e7;
	&__slider {
		flex: 0 0 684px;
	}
	&__data {
		flex: 0 0 684px;
	}
}
