@import "../../../styles/variables.scss";

.cart-block {
	position: relative;
	background: $white;
	width: 50px;
	height: 83px;
	padding: 17px 10px 13px;
	&__quantity {
		font-weight: 900;
		font-size: 25px;
		line-height: 24px;
		color: #e4a16f;
		text-align: center;
	}
	&__icon {
		position: absolute;
		bottom: 13px;
		cursor: pointer;
	}
}
