@import "../../styles/variables.scss";

button.css-kvsszq-MuiButtonBase-root-MuiPaginationItem-root {
	font-weight: 600;
	font-size: 25px;
	line-height: 24px;
	color: #b3b9b8;
}

button.css-kvsszq-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
	background-color: rgba(0, 0, 0, 0.2);
	color: $white;
}
