.header {
	position: fixed;
	width: 100%;
	min-height: 146px;
	background: url("../../resources/bg/header__bg.png") center / cover no-repeat;
	z-index: 10;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__wrap {
		display: flex;
		justify-content: space-between;
		width: 800px;
	}
	&__logo {
		margin-top: 42px;
		width: 175px;
		height: 47px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__info {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}
