@import "../../styles/variables.scss";

.cart-page {
	padding: 176px 0;
	&__title {
		@extend %h2-title;
		text-align: left;
		margin-top: 24px;
		margin-bottom: 30px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 30px;
	}
	&__left {
		width: 923px;
		min-height: 290px;
	}
	&__right {
		width: 446px;
		min-height: 290px;
	}
	&__link {
		padding: 16px 78px;
		font-weight: 800;
		font-size: 18px;
		line-height: 17px;
		text-align: center;
		color: #a1a1a1;
		border: 1px solid #a1a1a1;
	}
}
