@import "../../styles/variables.scss";

.catalog-page {
	padding-top: 176px;
	margin-bottom: 80px;
	&__title {
		@extend %h2-title;
		line-height: 53px;
		text-align-last: left;
		margin: 23px 0 30px;
	}
	&__wrap {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(290px, 445px));
		grid-auto-rows: minmax(567px, auto);
		column-gap: 30px;
		row-gap: 44px;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 54px;
	}
}
